*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    background-color: var(--header);
    justify-content: space-between;
    align-items: center;
    box-shadow: -5px 10px 33px 1px rgba(0,0,0,0.75);
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
    

}



header .links nav a {
    display: inline-block;
   margin: 0 20px;
   padding-left: 10px;

}

header .logo{
    align-items: center;
}


 header .logo img{
    
    width:48%;
    margin-top: 14px;
 
 }

header .links nav  a{
    color: #4bffff;
    font-size: 17px;
    text-decoration: none;
    
 }  

  .mostrar{
    display: block !important; 
  }
.esconder{
 display: none;
 }
 

 header .links nav  a:hover{
   text-decoration: underline;








 }
 @media(max-width:450px){

    header .logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;



        
    }
    .logo{
        width: 0px    ;
    }
    header .logo .margem{
       width: 80%;
    }


    header .logo  a img {
        width: 48%;
        

    }
    header .links nav a{
display: block;
margin: 4px;

 

    }

    header .links nav {
        display: block ;
        display: none;
    
       
        
    

       
    }
   header{
    display: block;
    width: 100%;
    justify-content: center;
    
   }

   header .menu   {
    
    border-color: var(--ciano);
    border-style: solid;
    padding: 4px;
    margin: 10px;
    margin-right: 60px;
    float: right;
    
    
   }

   header .logo .menu a i {
    color:  var(--ciano);
   }

   
 
   }

   @media(max-width: 800px){
    header .logo{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    header .logo img {
        width: 74%;
        

    }
    header .links nav a{
display: block;
margin: 4px;
 

    }

    header .links nav {
        display: block ;
        display: none;
       
        
    

       
    }
   header{
    display: block;
    width: 100%;
    justify-content: center;
    
   }

   header .menu   {
    display: flex;
    border-color: var(--ciano);
    border-style: solid;
    padding: 4px;
    margin: 10px;
    
    float: right;
    
    
   }

   header .logo .menu a i {
    color:  var(--ciano);
   }


   }
